.woothemes-sc-connect .icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
.woothemes-sc-connect .icons li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.woothemes-sc-connect .icons a {
  font-size: 1.5em;
  padding: .25em;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.woothemes-sc-connect .icons a:before {
  color: #fff;
  line-height: 1.5;
}
.woothemes-sc-connect .icons a:hover {
  opacity: 0.8;
}
.woothemes-sc-connect .icons .rss a:before {
  background-color: #ff6600;
}
.woothemes-sc-connect .icons .twitter a:before {
  background-color: #33ccff;
}
.woothemes-sc-connect .icons .facebook a:before {
  background-color: #3b5998;
}
.woothemes-sc-connect .icons .pinterest a:before {
  background-color: #cb2027;
}
.woothemes-sc-connect .icons .youtube a:before {
  background-color: #bb0000;
}
.woothemes-sc-connect .icons .instagram a:before {
  background-color: #3f729b;
}
.woothemes-sc-connect .icons .flickr a:before {
  background-color: #ff0084;
}
.woothemes-sc-connect .icons .google_plus a:before {
  background-color: #dd4b39;
}
.woothemes-sc-connect .icons .linkedin a:before {
  background-color: #007bb6;
}
.woothemes-sc-connect .icons .vimeo a:before {
  background-color: #1ab7ea;
}
.woothemes-sc-connect .icons .tumblr a:before {
  background-color: #32506d;
}
.woothemes-sc-connect .icons .dribbble a:before {
  background-color: #ea4c89;
}
.woothemes-sc-connect .icons .appdotnet a:before {
  background-color: #cccccc;
}
.woothemes-sc-connect .icons .github a:before {
  background-color: #333333;
}
