.woothemes-sc-network-fields {
  max-width: 500px;
  margin-bottom: 1em;
}
.woothemes-sc-network-fields .ui-sortable-placeholder {
  background: #EBEBEB;
  border: 1px dashed #DDDDDD;
  visibility: visible !important;
  margin: 3px;
  padding: 1em;
}
.woothemes-sc-network-fields .ui-sortable-placeholder td {
  padding: 1em;
}
.woothemes-sc-network-fields td {
  padding: 0;
  cursor: move;
}
.woothemes-sc-network-fields .handle {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: -25px;
  margin-top: 3px;
  font-size: 0;
  cursor: move;
}
.woothemes-sc-network-fields .handle:before {
  -webkit-font-smoothing: antialiased;
  font: normal 14px/1 'dashicons';
  content: "\f333";
  position: relative;
  cursor: move;
}
.woothemes-sc-network-fields .title {
  width: 100px;
  padding-right: 1.618em;
}
.woothemes-sc-network-fields .url {
  min-width: 250px;
  padding-right: 1.618em;
}
.woothemes-sc-network-fields .url input {
  width: 100%;
}
.woothemes-sc-network-fields .image {
  width: 75px;
  padding-top: 1em;
}
.woothemes-sc-network-fields .image-preview {
  display: block;
  position: relative;
  height: 50px;
  width: 240px;
  margin-bottom: 1em;
  overflow: hidden;
}
.woothemes-sc-network-fields .image-preview a.preview-link {
  display: block;
  max-width: 50px;
  height: 50px;
}
.woothemes-sc-network-fields .image-preview a.preview-link img {
  max-width: 100%;
}
.woothemes-sc-network-fields .image-preview a.preview-link .overlay {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 1px;
  left: 1px;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  background: #eeeeee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAXklEQVQYGW2OUQrAMAhDFy8+dnKnwiuh2I+aJulDZebDkfSie1b28Q7EXWrfvSm60RQnkQUC8ja7owpmL6d4GdDZ0cNNHyIhZEj4QYCxze6orsluAh8AnR0xKPR07weXJi8JGd3qqwAAAABJRU5ErkJggg==) no-repeat center center;
}
.woothemes-sc-network-fields .image-preview a.preview-link:hover .overlay {
  display: block;
}
.woothemes-sc-network-fields .image-preview a.preview-link.remove .overlay {
  background: #eeeeee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAWElEQVQYGY2OUQ6AMAxCZdm9jSev65K3YKNm+6EFBlVEHDxJJ3Pi0C72xlBNyTs3jU7wEUTTIB51GCp2CL8HLpHEdaOLb/N2dfuq9NT0zOo/M9q6EaImsd/uViMLVuD4KAAAAABJRU5ErkJggg==) no-repeat center center;
}
.description {
  clear: both;
  display: block;
}
